.zomato {
  margin: 5em 2em 1em 2em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.nav-left {
  margin-left: 2em;
}
.nav-right {
  margin-right: 2em;
}

.main-page {
  margin: auto;
  padding: 2em;
}
.search-box {
  margin: auto;
  padding: 1em;
}
.loading {
  text-align: center;
}